<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Recognizer">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>tests</directory>
        </whitelist>
    </filter>
</phpunit>